.contact{
    padding: 200px 100px 100px;
}
.mainn{
    width: 60%;
    background: grey;
    margin: auto;
    padding: 10px 50px;
    border-radius: 10px;
}
h1{
    text-align: center  ;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
img{
    border-radius: 50%;
}
.image{
    text-align: center;
}
.social{
    text-align: center;
    display: flex;
    justify-content: center;
}
.social div{
    margin-top: 10px;
    margin-left: 30px;
}