body {
    margin: 0;
    padding: 0;
}

.upper-header {
    padding-top: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.lower-header {
    border-bottom: 1px solid black;
    padding-bottom: 9px;
}

nav {
    display: block;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

.justify-content-around {
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: sans-serif;
}

nav a:hover {
    color: blue;
    border-bottom: 1px solid blue;
}

.logo {
    font-size: 30px;
    margin-top: 0px;
    margin-left: 20px;
    color: purple;
}

.f-16 {
    font-size: 20px;
    font-weight: bold;
}

.lower-header a {
    color: purple;
}

.pointer {
    cursor: pointer;
}

.hide {
    display: none;
}