body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    transition: 0.5s;
}
i{
    color: purple;
}


header .resp-hide{
    display: none;
}
::-webkit-scrollbar{
    background-color: rgba(128, 128, 128, 0.432);
    color: white;
    border-radius: 20px;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 20px;
}
header{
    background: rgb(255, 255, 255);
    width: 100%;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.459);
    position: fixed;
    z-index: 1;
}
header a{
    text-decoration: none;
    color: black;
    /* transition: 0.5s; */
    padding-bottom: 3px;
}
header a:hover{
    border-bottom: 2px solid purple;
}
header .upper-header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.363);
    background-color: white;
}
.site-nav{
    width: fit-content;
    display: flex;
    font-size: 16px;
}
header .upper-header .site-logo{
    padding: 20px 20px 10px 20px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
    font-weight: 700;
    display: flex;
}
header .upper-header .nav ul{
    display: flex;
    width: fit-content;
    list-style-type: none;
}
header .upper-header .nav ul li{
    padding:10px  15px;
}
.dark-light{
    width: 30px;
    overflow: hidden;
    display: grid;
    place-content: center;
    height: 50px;
    padding: 10px;
    cursor: pointer;
}
.hide1{
    display: none;
}
.login-signup-link{
    padding: 22px 20px 20px 20px ;
}
.login-signup-link a{
    padding: 10px;
    background: rgba(128, 0, 128, 0.733);
    /* padding-left: 0px; */
    margin-right: 7px;
    border-radius: 10px;
    color: white;
}
.login-signup-link a:hover{
    background: purple;
    border-bottom: 0px;
}
header .lower-header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.301); */
}
header .lower-header a{
    color: purple;
    font-weight: bolder;
    font-size: 15px;
}
header .lower-header .home-icon{
    width: 30px;
    padding-top: 10px;
    overflow: hidden;
    height: 30px;
}
header .lower-header .menu-2 ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    padding-top: 18px;
}
header .lower-header .menu-2 ul li{
    padding: 0px 20px 0px 20px;
}
header .lower-header .search{
    width: fit-content;
    padding-top: 10px;
}
.menu-btn{
    width: 150px;
    position:relative;
    padding-top:10px ;
    display: none;
}
.menu-btn button{
    color: purple;
    background: white;
    border:1px solid purple;
    font-size: 20px;
    padding: 4px;
    border-radius: 4px;
    margin-right: 10px;
    width: 150px;
}
.menu-btn button:hover{
    color: white;
    background: purple;
}
.menu-btn .menu{
    position: absolute;
    background: white;
    width: 150px;
    top: 50px;
    display: none;
}
.menu-btn ul{
    list-style-type: none;
}
.menu-btn ul li{
    padding: 20px 0px 0px 0px ;

}
.search{
    position: relative;
    width: 220px;
    /* background-color: grey; */
    height: 30px;
}
.hide-search{
    position: absolute;
    right:50px;
    height: 30px;
    border: 1px solid purple;
    display: none;
}
.hide-search:focus{
    outline: none;
    box-shadow: 0px 0px 2px 2px purple;
}
#close{
    display: none;
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
}
.search-icon{
    position: absolute;
    right: 10px;
    top: 13px;
}