body{
    margin:0;
    padding: 0;
}
/* header section start */
header{
    color: #000;
    /* padding: 20px 0; */
}
.upper-header{
    border-bottom: 1px solid ;
}
.upper-header, .site-nav ,.upper-header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.site-logo{
    font-size: 30px;
    font-weight: bold;
    height: 60px;
    display: flex;
    align-items: center;
}
.site-nav .nav ul{
    padding-top: 15px;
}
.site-nav .nav ul li{
    list-style-type: none;
    padding: 3px 15px ;
}
.site-nav .nav ul li a{
    color: #000;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}
.site-nav .nav ul li a:hover{
    color: rgb(107, 105, 105);
    border-bottom:1px solid white ;
}
.dark-light{
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    cursor: pointer;
}
.login-signup-link a{
    background:linear-gradient(10deg,rgb(241, 7, 7),rgb(53, 52, 52)) ;
    border: 1px solid white;
    margin: 0px 10px ;
    border-radius: 10px;
    padding: 10px 20px ;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header .lower-header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.301);
}
header .lower-header a{
    color: purple;
    font-weight: bolder;
    font-size: 15px;
}
header .lower-header .home-icon{
    width: 30px;
    margin:auto 0;
    padding-top: 0px;
    overflow: hidden;
    height: 30px;
}
header .lower-header .menu-2 ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin-top: 10px;
}
header .lower-header .menu-2 ul li{
    padding: 0px 20px 0px 20px;
}
header .lower-header .search{
    width: fit-content;
    padding-top: 10px;
}
.menu-btn{
    width: 150px;
    position:relative;
    padding-top:10px ;
    display: none;
}
.menu-btn button{
    color: purple;
    background: white;
    border:1px solid purple;
    font-size: 20px;
    padding: 4px;
    border-radius: 4px;
    margin-right: 10px;
    width: 150px;
}
.menu-btn button:hover{
    color: white;
    background: purple;
}
.menu-btn .menu{
    position: absolute;
    background: white;
    width: 150px;
    top: 50px;
    display: none;
}
.menu-btn ul{
    list-style-type: none;
}
.menu-btn ul li{
    padding: 20px 0px 0px 0px ;

}
.search{
    position: relative;
    width: 220px;
    /* background-color: grey; */
    height: 30px;
}
.hide-search{
    position: absolute;
    right:50px;
    height: 30px;
    border: 1px solid purple;
    display: none;
}
.hide-search:focus{
    outline: none;
    box-shadow: 0px 0px 2px 2px purple;
}
#close{
    display: none;
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
}
.search-icon{
    position: absolute;
    right: 10px;
    top: 13px;
}