
@media screen and (max-width: 1024px) {
    
    .hero{
        height: auto;
    }
    .hero .container1 .image{
        display: none;
    }
    .hero .container1 .text{
        width: 100%;
    }
    .hero .container1 .text .content{
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top:20px ;
    }
    header .site-nav{
        display: flex;
    }
    header .site-nav .nav{
        display: none;
    }
    header .site-logo{
        text-align: center;
        width: 40%;
    }
    .lower-header{
        display: flex;
        width: 100%;
        justify-content: center;
    }
}
@media screen and (max-width: 768px){
    body {
        margin: 0;
        padding: 0;
        background: rgb(0, 0, 0);
        color: white;
    }
    
    .upper-header {
        padding-top: 10px;
        border-bottom: 1px solid rgb(105, 105, 105);
        margin-bottom: 10px;
        display: block;
    }
    .resp-hide{
        display: none;
    }
    nav a{
        font-size: 16px;
    }
    .lower-header {
        display: none;
    }
    nav ul{
        margin: 0px 20px;
    }
    .hero{
        height: auto;
        padding: 100px 30px;
    }
    .hero .text .content{
        width: 90%;
    }
    header .nav{
        display: none;
    }
    .recomended-courses .main .container1{
        display: block;
        width: 100%;
    }
    .recomended-courses .main .container1 .card{
        width: 80%;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.466);
        margin: 40px auto;
    }
    .testemonials .main .container1{
        display: block;
    }
    .testemonials .main .container1 .testimonial{
        width: 80%;
        height: fit-content;
        border-radius: 10px;
        margin: 30px auto;
    }
}
@media screen and (max-width: 650px){
    header .upper-header .site-nav .login-signup-link .sign-up{
        display: none;
    }
    header .site-logo{
        width: auto;
    }
    header .menu-2{
        display: none;
    }
    header .menu-btn{
        display: block;
        padding-top: 3px;
    }
    header .menu-btn #closeMenu{
        display: none;
    }
    .hero{
        width: 90%;
        margin: auto;
    }
    .recomended-courses .main .container1{
        display: block;
        width: 100%;
    }
    .recomended-courses .main .container1 .card{
        width: 80%;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, 0.466);
        margin: 40px auto;
    }
    .testemonials .main .container1{
        display: block;
    }
    .testemonials .main .container1 .testimonial{
        width: 80%;
        height: fit-content;
        border-radius: 10px;
        margin: 30px auto;
    }
}
@media screen and (max-width: 440px){
    header .upper-header .site-logo{
        font-size: 20px;
    }
    .hero{
        padding-left: 0px;
        padding-right: 0px;
        padding-top:20px ;
    }
    .hero .container1 .text .content .description{
        text-align: justify;
    }
    .btn1{
        margin-bottom: 15px;
    }
    .java ,.python ,.html ,.css ,.js ,.wordpress{
        width: fit-content;
        margin-left: 10px;
        margin-right: 10px;
    }
}